<h1 class="text-center">Listing videos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Club id</th>
      <th>Note of image</th>
      <th>Video</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.tieude %></td>
        <td><%= video.nguon %></td>
        <td><%= video.tuade %></td>
        <td><%= video.video %></td>
        <td><div><%= video.noidung %></div></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
