<!-- Trigger the modal with a button -->
<center >
  <button style="margin-top:10px;color: black " type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%= @cauthu.id%>" >Details...</button>
</center>
  <!-- Modal -->
<div class="modal fade" id="myModal<%= @cauthu.id%>" role="dialog">
	<div class="modal-dialog">
	
	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title"><center><%= @cauthu.ten%></center></h4>
	    </div>
	    <div class="modal-body">
	    	<div class="row text-center">
				<img alt=<%= @cauthu.ten%> src=<%= "/assets/cauthus/"+ @cauthu.hinhanh %> width = "300" height = "400" >
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="table-responsive">          
					  <table class="table">
					    <thead>
					      <tr>
					        <th>Info</th>
					        <th>Data</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>Country</td>
					        <td><%= @cauthu.quoctich%></td>
					      </tr>
					      <tr>
					        <td>Date of Birth</td>
					        <td><%= @cauthu.ngaysinh%></td>
					      </tr>
					      <tr>
					        <td>Club</td>
					        <td><%= Doibong.find(@cauthu.doibong_id).ten%></td>
					      </tr>
					      <tr>
					        <td>Height</td>
					        <td><%= @cauthu.chieucao%></td>
					      </tr>
					      <tr>
					        <td>Weight</td>
					        <td><%= @cauthu.cannang%></td>
					      </tr>
					      <tr>
					        <td>Position</td>
					        <td><%= Vitri.find(@cauthu.vitri_id).tenvitri%></td>
					      </tr>
					    </tbody>
					  </table>
					  </div>
				  </div>
			</div>
			     
	   </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>
	  
	</div>
</div>
  

