
<div id="content">
	<div id="content_content">
<%=render "home/menu_chitietdb" %>
 <div id="content_noibat">
<table class="dulieu_doibong" style="color:#000;margin-top:15px;">
    <tr>
    <td style="font-size:40px" colspan="2" align="center"><b>A NATIONAL INSTITUTION</b></td>
    </tr>
    <tr>
    <td style="font-size:40px;height: 200px"><img width="300" height="150" src="/assets/logo/fcb6.png" frameborder="0" allowfullscreen></td>
    <td style="padding: 10px 0px 0px 10px">The Bundesliga's record title-holders have been a dominant force in German football since the 1970s. Only three times since have more than two years passed without Bayern getting their hands on the precious plate. Chief personnel supplier to the national team, Bayern also boast by far the largest membership of any club in Germany and after UEFA Champions League final defeats in 2010 and 2012, the Bavarians finally lifted Europe's biggest club prize again in 2013, part of their historic treble-winning season</td>
    </tr>
    <tr  bgcolor="#D8D8D8">
    <td width="200">Name</td>
    <td><%= @doibong.ten%></td>
    </tr>

    <tr bgcolor="#D8D8D8">
    <td width="200">Address</td>
    <td><%= @doibong.diachi%></td>
    </tr>
    <hr align="center" width="99%">
      <tr bgcolor="#D8D8D8">
    <td width="200">Phone number</td>
    <td><%= @doibong.dienthoai%></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Fax</td>
    <td><%= @doibong.fax%></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Website</td>
    <td style="color:#F00"><%= @doibong.website%></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Twitter</td>
    <td><a href="https://twitter.com/FCBayernEN" target="_blank">@FCBayernEN</a></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Facebook</td>
    <td><%= @doibong.facebook%></td>
    </tr>
     <tr bgcolor="#D8D8D8">
    <td width="200">Founded</td>
    <td>27.2.1900</td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Club members</td>
    <td>+49 (0)89 - 69931-333</td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Ticket hotline</td>
    <td><a href="https://tickets.fcbayern.de/Internetverkauf/eventlist.aspx" target="_blank">+49 (0)89 - 69931-333</a></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Ticket shop</td>
    <td><a href="https://tickets.fcbayern.de/Internetverkauf/eventlist.aspx" target="_blank">Ticket website</a><a href="http://shop.fcbayern.de/en/0/0/-fc-bayern-_--/" onclick="return xt_click(this, 'C', level2id, 'Clubs::FC_Bayern_Munich::ClubseiteDaten_http://shop.fcbayern.de/en/0/0/-fc-bayern-_--/', 'S'); void(0);" target="_blank"></a></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Club store</td>
    <td><a href="http://shop.fcbayern.de/en/0/0/-fc-bayern-_--/" onclick="return xt_click(this, 'C', level2id, 'Clubs::FC_Bayern_Munich::ClubseiteDaten_http://shop.fcbayern.de/en/0/0/-fc-bayern-_--/', 'S'); void(0);" target="_blank">Online shop</a></td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Club colours</td>
    <td>Red-white</td>
    </tr>
      <tr bgcolor="#D8D8D8">
    <td width="200">Club honours</td>
    <td></td>
    </tr>
      <tr>
    <td width="200">Other sporting divisions</td>
    <td>Handball, table tennis, basketball, chess, bowling, seniors' football, refereeing</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Club president</td>
    <td>Karl Hopfner</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Executive board chairman</td>
    <td>Karl-Heinz Rummenigge</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Sporting director</td>
    <td>Matthias Sammer</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Head coach</td>
    <td>Pep Guardiola</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Assistant coaches</td>
    <td>Hermann Gerland, Domenec Torrent, Toni Tapalovic (goalkeeping)</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Club doctor</td>
    <td>Dr. Hans-Wilhelm Müller-Wohlfahrt</td>
    </tr>
    <tr bgcolor="#D8D8D8">
    <td width="200">Màu Aó</td>
    <td><%= @doibong.mauao%></td>
    </tr>
    </table>
    </div>
</div>
</div>
<hr align="center" width="99%">
