
<div id="content">
	<div id="content_content">
<%=render "home/menu_chitietdb"%>
 <table class="dulieu_doibong" width="100%" bgcolor="#DBDBDB" align="center">
 <tr>
                    <td style="font-size:40px" colspan="2">
					<b><%= @sanvandong.ten%></b>
                    </td>
                    </tr>  
    				<tr>
                   		 <td>
					<img width="324"  height="" src="/assets/sanvandong/<%= @sanvandong.hinhanh%>"  frameborder="0" allowfullscreen/>
					<img width="324"  height="" src="/assets/sanvandong/<%= @sanvandong.hinhanh1%>"  frameborder="0" allowfullscreen/>
					<img width="324"  height="" src="/assets/sanvandong/<%= @sanvandong.hinhanh2%>"  frameborder="0" allowfullscreen/>
                  		 </td>
                    </tr>  
                    </table>
<table class="dulieu_doibong" style="color:#000;margin-top:15px;" width="100%">
    <tr  bgcolor="#D8D8D8">
    <td width="200" style="font-size: 22px"><b>Stadium</b></td>
    <td><%=@sanvandong.ten %></td>
    </tr>
    <tr  bgcolor="#D8D8D8">
    <td width="200" style="font-size: 22px"><b>Address</b></td>
    <td><%=@sanvandong.diachi %></td>
    </tr>
    <tr  bgcolor="#D8D8D8">
    <td width="200"  style="font-size: 22px "><b>Capacity</b></td>
    <td><%=@sanvandong.soghe %></td>
    </tr>
    <tr  bgcolor="#D8D8D8">
    <td width="200"  style="font-size: 22px"><b>Opened</b></td>
    <td><%=@sanvandong.thanhlap %></td>
    </tr>
    <tr  bgcolor="#D8D8D8">
    <td width="200" style="font-size: 22px"><b>Tickets</b></td>
    <td><%=@sanvandong.ve %></td>
    </tr>
</table>
    <br />
 <table style="color:#000" width="100%" class="dulieu_doibong"  border="1px">
    <tr  bgcolor="">
    <td width="200" style="font-size: 24px"><b><%=@sanvandong.thongtin %></b></td>
	</tr>
<tr>
    <td width="200" ><%=raw sanitize(simple_format(@sanvandong.chitietthongtin), :tags => %w(br p div /div) ) %></td>
    </tr>
    </table>
</div>
</div>
<hr align="center" width="99%">
